<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<Clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="ByteLabs" value="https://pkgs.dev.azure.com/ByteLabsInfoWorks/_packaging/ByteLabsInfoWorks/nuget/v3/index.json" />
		<add key="ByteLabsBeta" value="https://pkgs.dev.azure.com/ByteLabsInfoWorks/Foundations/_packaging/ByteLabsBeta/nuget/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<Clear />
		<packageSource key="ByteLabsBeta">
			<package pattern="ByteLabs.*" />
		</packageSource>
		<packageSource key="ByteLabs">
			<package pattern="ByteLabs.*" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
